In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/GDP.csv')

In [ ]:
df.head()

   Unnamed: 0  GDP  ... Currect Account Balance  Currect Account Balance.1
0           0  NaN  ...                     NaN                        NaN
1           1  NaN  ...                     NaN                        NaN
2           2  NaN  ...                     NaN                        NaN
3           3  NaN  ...                     NaN                        NaN
4           4  NaN  ...                     NaN                        NaN

[5 rows x 11 columns]

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.to_csv('cleanedGDP.csv')

In [ ]:
df.dtypes

GDP                            float64
Implied PPP Conversion Rate    float64
Inflation                      float64
Import Volume                  float64
Export Volume                  float64
Population                     float64
Government Revenue             float64
General Government Revenue     float64
Currect Account Balance        float64
Currect Account Balance.1      float64
dtype: object

In [ ]:
df.replace("--", np.nan, inplace=True)

In [ ]:
for column in df.columns:
  df[column] = df[column].astype(float)

In [ ]:
df['GDP'] = df['GDP'].astype(float)

In [ ]:
y = df.pop('GDP')
x_train, x_test, y_train, y_test = train_test_split(df.to_numpy(), y, test_size=0.2, random_state=193)

In [ ]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
with open('x_train_gdp.npy', 'wb') as file:
  np.save(file, x_train)

with open('x_test_gdp.npy', 'wb') as file:
  np.save(file, x_test)

with open('y_train_gdp.npy', 'wb') as file:
  np.save(file, y_train)

with open('y_test_gdp.npy', 'wb') as file:
  np.save(file, y_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regressor = RandomForestRegressor()

In [ ]:
regressor.fit(x_train, y_train)

RandomForestRegressor()

In [ ]:
y_hat = regressor.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
print(mean_squared_error(y_test, y_hat))

28095045496.021976

In [ ]:
regressor.score(x_train, y_train)

0.9947762901981417

In [ ]:
regressor.score(x_test, y_test)

0.930788920011153

In [ ]:
import joblib

In [ ]:
joblib.dump(regressor, 'RandomForestRegressorOnGdp.joblib')

['RandomForestRegressorOnGdp.joblib']

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
pipe = Pipeline([
                 ('scaler', StandardScaler()),
                 ('regressor', RandomForestRegressor())
])

In [ ]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('regressor', RandomForestRegressor())])

In [ ]:
pipe.score(x_test, y_test)

0.9345165631982205

In [ ]:
joblib.dump(pipe, 'GdpScalerAndRegressor.joblib')

['GdpScalerAndRegressor.joblib']