In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/WEO_Data.xlsx')

In [ ]:
df.drop(['Scale', 'Units', 'Country/Series-specific Notes'], axis=1, inplace=True)

In [ ]:
df.head(10)

       Country  ... Estimates Start After
0  Afghanistan  ...                2019.0
1  Afghanistan  ...                2019.0
2  Afghanistan  ...                2020.0
3  Afghanistan  ...                2019.0
4  Afghanistan  ...                2019.0
5  Afghanistan  ...                2019.0
6  Afghanistan  ...                2019.0
7  Afghanistan  ...                2019.0
8  Afghanistan  ...                2019.0
9  Afghanistan  ...                2019.0

[10 rows x 27 columns]

In [ ]:
df.Country.value_counts()

St. Kitts and Nevis                                                           10
Bahrain                                                                       10
Italy                                                                         10
Paraguay                                                                      10
Bosnia and Herzegovina                                                        10
                                                                              ..
Sweden                                                                        10
Suriname                                                                      10
Belize                                                                        10
Democratic Republic of the Congo                                              10
International Monetary Fund, World Economic Outlook Database, October 2021     1
Name: Country, Length: 197, dtype: int64

In [ ]:
df.loc[1]

Country                                  Afghanistan
Subject Descriptor       Implied PPP conversion rate
1997                                             NaN
1998                                             NaN
1999                                             NaN
2000                                             NaN
2001                                             NaN
2002                                           9.092
2003                                          10.096
2004                                          10.929
2005                                          11.736
2006                                          12.254
2007                                          13.014
2008                                          14.883
2009                                           14.39
2010                                           15.37
2011                                          16.613
2012                                          17.242
2013                                          17.509
2014                                          17.036
2015                                          17.023
2016                                          17.446
2017                                          17.206
2018                                          17.152
2019                                           17.95
2020                                          19.123
Estimates Start After                           2019
Name: 1, dtype: object

In [ ]:
df.drop([1960, 1961], axis=0, inplace=True)

In [ ]:
df.shape

(1960, 27)

In [ ]:
years = df.columns.to_list()
years.remove('Country')
years.remove('Estimates Start After')
years.remove('Subject Descriptor')

In [ ]:
len(years)

24

In [ ]:
rows = []

last_val_start = 0
last_val_end = 10

for i in range(196):
  idx = list(range(last_val_start, last_val_end))
  for year in years:
    row = []
    for id in idx:
      element = df.loc[id, year]
      row.append(element)
    rows.append(row)
  last_val_end += 10
  last_val_start += 10

In [ ]:
len(rows)

4704

In [ ]:
rows[-1]

[18.111, 32.843, 2397.639, nan, nan, 15.189, 183.039, 16.275, 1.275, 5.815]

In [ ]:
finaldf = pd.DataFrame(rows)

In [ ]:
finaldf.columns = ["GDP", "Implied PPP Conversion Rate", "Inflation", "Import Volume", "Export Volume", "Population", "Government Revenue", "General Government Revenue", "Currect Account Balance", "Currect Account Balance"]

In [ ]:
finaldf.head()

   GDP  ... Currect Account Balance
0  NaN  ...                     NaN
1  NaN  ...                     NaN
2  NaN  ...                     NaN
3  NaN  ...                     NaN
4  NaN  ...                     NaN

[5 rows x 10 columns]

In [ ]:
finaldf.to_csv("GDP.csv")